{% extends 'base.html.twig' %}

{% block title %}Adopter un animal{% endblock %}

{% block content %}
    <h1> + derniers animaux.twig </h1>
    <h1> + Liste des Animaux a apdotés </h1>
    <h2> + (ADMIN) CRUD animal</h2>
    <h2> + /BUTTON/ Adopter un animal > Redirect "Se connecter" </h2>
    <h2> + /BUTTON/ Single Animal</h2>
{% endblock %}
