{% extends 'base.html.twig' %}

{% block title %}Nom de l'asso{% endblock %}

{% block content %}
    <h1> Page Acceuil </h1>
    <h1> + derniers animaux.twig </h1>
    <h1> + produits phare.twig </h1>
    <h1> + dons </h1>
{% endblock %}


