@import "home.css";
@import "pet.css";

:root {
    --bg-color: #334d5f;
}
body > .content > * + *{
    margin-top: 2em;
}

#donate-button{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid #fdc009;
    background: transparent;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    color: #fdc009;
    margin-right: 1rem;
    font-size: 1rem;
    text-decoration: none;
}
#donate-button:hover{
    background: #fdc009;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    color: white;
    margin-right: 1rem;
}

#logo-assoc{
    height: 50px;
}

.content {
    margin: 1em 2em;
    min-height: 80vh;
}

.navbar {
    background-color: var(--bg-color) !important;
}

footer{
    background-color: var(--bg-color);
    text-align: center;
    color: white;
    height: 7em;
}

.card img {
    max-width: 33vw;
    max-height: 30vh;
    object-fit: contain;
}

form {
    display: grid;
    gap: 0.5rem;
    width: 50%;
}
form > div {
    display: grid;
}

label{
    font-size: 1.2em;
    color: #343842;
    white-space: nowrap;
}
input:not(input[type="submit"]), textarea{
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
}
button[type="submit"]{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 1.2em;
    border: none;
}

.buttons-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 0.5em;
}

.buttons-wrapper.multiple-columns{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}
.cards-wrapper > div{
    overflow: hidden;
}

.single-card{
    font-size: 1.2em;
}
.card-content img{
    width: 100%;
}
.card-content{
    display: grid;
    grid-template-columns: minmax(200px, 50%) 1fr;
    gap: 1em;
}
.single-card > p{
    
}
.single-card > p > label{
    display: block;
    font-size: 0.9em;
    color: grey;
}

/* MODIFICATION BOOTSTRAP CLASS */
/*  */
.card{
    justify-content: space-between;
}

.card-body{
    flex: none;
}