#wrapper-home-page{
    display: grid;
}

.wrapper-carousel-custom{
    padding: 0.5rem 1rem;
}
.wrapper-carousel-custom > .carousel{
    background-color: var(--bg-color);
}
.wrapper-carousel-custom .carousel-item{
    height: 50vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #9e9e9e;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #9c9c9c;
}

.carousel-item img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.flash-message{
    font-size: 1.5em;
    margin: auto;
}
.flash-message.text-success{
    border: 2px solid green;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    width: fit-content;
}

.total {
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: orange;
}