#wrapper-home-page{
    display: grid;
}
.wrapper-carousel-custom{
    padding: 0.5rem 1rem;
    margin: 2em;
    margin-bottom: 6em;
}
.wrapper-carousel-custom > .carousel{
    background-color: var(--bg-color);
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #9e9e9e;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #9c9c9c;
}
.wrapper-carousel-custom .carousel-item{
    height: 50vh;
}
.carousel-item img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
