{% extends 'base.html.twig' %}

{% block title %}La boutique !{% endblock %}

{% block content %}
    <h1> + Liste des produits </h1>
    <h1> + /BUTTON/ Ajouter au panier  > Redirect "Se connecter"</h1>
    <h2> + (ADMIN) CRUD produits </h2>
{% endblock %}
