{% extends "base.html.twig" %}

{% block content %}
        <h1>Ecrire un article </h1>
	{{form_start(form)}}
        {{form_row(form.title)}}
        {{form_row(form.description, {'attr': {'placeholder': 'Ajoutez un contenu à votre article'}})}}
	{{form_end(form)}}
{% endblock %}